<div id="<%= dom_id task %>">
  <p>
    <strong>Task list:</strong>
    <%= task.task_list_id %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= task.complete %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

</div>
